<h2>Show comment</h2>

<ul>

  <li>
    <strong>Body:</strong>
    <%= @comment.body %>
  </li>

  <li>
    <strong>Task:</strong>
    <%= @comment.task_id %>
  </li>

</ul>

<%= link "Edit", to: task_comment_path(@conn, :edit, @task, @comment) %>
<%= link "Back", to: task_comment_path(@conn, :index, @task) %>
